@model St10439541_PROG7311_P2.Models.Client

@{
    ViewData["Title"] = "Client Details";
}

<h1>Client Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Region)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClientId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>