@model IEnumerable<St10439541_PROG7311_P2.Models.ServiceRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountUSD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountZAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeRateUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountUSD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountZAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeRateUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract.ContractId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceRequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceRequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceRequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
